<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teste</title>
</head>
<body>
    <center>
        <h1>All Products</h1>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                </tr>
            </thead>
            <tbody>
                <% @products.each do |produto| %>
                    <tr>
                        <td><%= produto.name %></td>
                        <td><%= produto.description %></td>
                        <td><%= produto.price %></td>
                        <td> <%= produto.quantity %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </center>
</body>
</html>